@mixin thin-vertical-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #E5E2E7;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-hover;
  }
}

@mixin thin-horizontal-scrollbar {
  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #E5E2E7;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-hover;
  }
}
