//Brand
$brand_green: #30C473;
$brand_dark-green: #0E5D60;

//Text
$text-green: #30C473;
$text_dark_black: #0B0B0B;
$text_black: #393939;
$text_white: #FFFFFF;
$text_light-grey: #9BA3B2;
$text_grey: #959FB8;
$red: #e22446;
$red_light: #FEF2F2;
//Background
$bg_white: #FFFFFF;
$bg_light_grey: #E9E8E8;
$bg_blue: #74CDFF;
$bg_bright_blue: #227EEC;
$bg_light_blue: #EBF8FF;
$bg_green: #30C473;
$bg_dark_green: #2eb56b;
$bg_grey: #F4F7F9;
$bg_bright_green: #3BDB84;
//Transitions
$transition: all .2s ease;
$ctransition: .2s ease;

//Other
$shadow: 0px 8px 32px 0px rgba(12, 16, 24, 0.08);
